@import '../../App.css';

.header {
    height: 30em;

    background-image: url('./assets/falling-leaves.gif');
    background-size: cover;
    background-position: 95% center;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.scrolling-header {
    background-image: url('./assets/falling-leaves.gif');
    background-size: cover;
    background-position: center;

    height: 5em;
    /* Set the desired height when scrolled */
    position: fixed;

    top: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: height 0.3s ease-in-out;
}

h1 {
    font-family: var(--primary-font);
     text-shadow: 0px 0px 7px black, 0px 0px 7px black, 0px 0px 7px black, 0px 0px 7px black;
}

p {
    font-family: var(--secondary-font);
    color: white;
    text-shadow: 0px 0px 7px black, 0px 0px 7px black, 0px 0px 7px black, 0px 0px 7px black;
}

a {
    color: aquamarine;
}



@media (min-width: 1000px) {
    /* Estilos que serão aplicados quando a largura da viewport for 1000px ou mais */

    .scrolling-header {
        background-position: 0 45%;
    }

}