<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testando a api</title>
</head>
<body>
    <div style="border: 2px solid #000; flex-direction: column;">
        <label for="Name">Name:</label>
        <input type="text">
        <textarea name="" id=""></textarea>
        <button>Publicar</button>
    </div>
    
    <div style="border: 3px solid #aaa; border-left: none; border-right: none; border-bottom: none;"></div>

    <di c-container="{{ url_for={'user.lista_user'} }}"></div>

    <script src="{{  url_for{'static', filename'cru.js} }}"></script>
</body>
</html>